* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #BBBBBB;
    box-shadow: 3px 3px 10px #BBBBBB;
    padding: 10px 0;
}

nav {
    position: absolute;
    top: 69px;
    right: 20%;
    
}

nav li {
    display: inline;
    margin: 0 0 0 30px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    overflow: none;
}

.content {
    margin-left: 5%;
    margin-right: 5%;
}

#logo {
    max-width: 150px;
    margin-left: 20%;
}

#maristaLogo {
    max-width: 35px;

}

.jogos {
    width: 75%;
    margin: 0 auto;
    padding: 15px 0;
}

.jogos li {
    display: inline-block;
    text-align: center;
    width: 50px;
    vertical-align: top;
}

.jogos h2 {
    font-size: 22px;
    font-weight: bold;
}