:root {
    --primary-color: darkblue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    background-color: lightblue;
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    overflow: none;
}

.content {
    margin-left: 20%;
    margin-right: 20%;
}

.headerBG {
    background-color: var(--primary-color);
    box-shadow: 3px 3px 10px darkblue;
    font-size: 25px;
}


#maristaLogo {
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;

}

h1 b {
    text-align: justify;
    font-size: 35px;
    margin-bottom: 0%;
}


h2 {
    text-align: justify;
    margin-bottom: 0%;
    font-weight:normal
}

p {
    text-indent: 20px;
    text-align: left;
    line-break: auto;
    font-size: 20px;
}